In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv(r'C:\Users\YUCHENG WANG\Desktop\MBAN Summer\MBAN6110\Data\experiment_dataset.csv')

In [3]:
df

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 7 columns]

In [4]:
df.head()

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579

In [7]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [8]:
df

     Age   Location   Device    Variant  Time Spent       CTR
0     62  Location2  Device2    Control   13.928669  0.084776
1     18  Location1  Device1  Variant B   11.310518  0.096859
2     21  Location2  Device1  Variant B   24.842100  0.097630
3     21  Location1  Device3  Variant B   20.061300  0.109783
4     57  Location1  Device2  Variant B   34.495503  0.068579
..   ...        ...      ...        ...         ...       ...
995   39  Location2  Device2  Variant B   17.252030  0.092211
996   38  Location3  Device2    Control   30.075898  0.078151
997   60  Location2  Device3    Control   31.929223  0.125213
998   35  Location2  Device2  Variant B   14.680299  0.095423
999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 6 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         1000 non-null   int64
 1   Location    1000 non-null   object
 2   Device      1000 non-null   object
 3   Variant     1000 non-null   object
 4   Time Spent  1000 non-null   float64
 5   CTR         1000 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 47.0+ KB

In [ ]:
# Evaluate the results, use an ANOVA test to compare all 3 groups(Variant A, Variant B,and Control),and also t-test to compare individual variants to the control, and to each other.

In [11]:
# checking Time Spent
VarA = df[df['Variant']=='Variant A']['Time Spent']
VarB = df[df['Variant']=='Variant B']['Time Spent']
Control = df[df['Variant']=='Control']['Time Spent']

P_val = stats.f_oneway(VarA, VarB, Control)
print(P_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [12]:
# checking CTR
VarA = df[df['Variant']=='Variant A']['CTR']
VarB = df[df['Variant']=='Variant B']['CTR']
Control = df[df['Variant']=='Control']['CTR']

P_val = stats.f_oneway(VarA, VarB, Control)
print(P_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

In [ ]:
# Based on ANOVA, we can see that both the Time Spent and CTR have siginificant results with a very low p-value. Indicate that the feature 'Variant' result in CTR and Time Spent lift.

In [ ]:
# Let's do an independent t-test for each variant compared to the control.

In [13]:
# Compare Time Spent
VarA = df[df['Variant']=='Variant A']['Time Spent']
VarB = df[df['Variant']=='Variant B']['Time Spent']
Control = df[df['Variant']=='Control']['Time Spent']

P_val = stats.ttest_ind(VarA, Control)
P_val_2 = stats.ttest_ind(VarB, Control)
P_val_3 = stats.ttest_ind(VarA, VarB)
print(P_val)
print(P_val_2)
print(P_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.6788175394209075, pvalue=0.0002534771014765265)

In [ ]:
# When comparing Time Spent, we see there're significant differences between the features(both variants) and the control because they all have a very low p-value.And we can see that the p-value
# indicate the difference between Variant A and the control is smaller than p-value indicate the difference between Variant B and the control, indicating that Variant A may has a better performance. 
#Also,there's a significant difference between Variant A and B regarding to a very low p-value

In [14]:
# Checking CTR
VarA = df[df['Variant']=='Variant A']['CTR']
VarB = df[df['Variant']=='Variant B']['CTR']
Control = df[df['Variant']=='Control']['CTR']

P_val = stats.ttest_ind(VarA, Control)
P_val_2 = stats.ttest_ind(VarB, Control)
P_val_3 = stats.ttest_ind(VarA, VarB)
print(P_val)
print(P_val_2)
print(P_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)

In [ ]:
# Again, based on the CTR, we can see there're significant differences between the features(both variants) and the Control group. And the p-value of difference between Variant A and the control
# is still smaller than the p-value of difference between Variant B and the control. Also the p-value indicated that the differences between Variant A and Variant B according to CTR 
# are more significant than that according to time spent.This result may illustrate that the differences between these two variants(features) have a large impact on CTR.

In [15]:
# Now we know that the feature worked well in lifting time spent,then we'll check which Varint worked better.
df.groupby('Variant')[['Time Spent']].mean()

           Time Spent
Variant
Control     20.070781
Variant A   24.805547
Variant B   23.343783

In [ ]:
# This result confirms our previous conclusion that Variant A resulted in longer time spent than control, and than Variant B. Since we know that the result is statistically significant,
# we should implement Variant A to drive longer time spent in our users.

In [16]:
# Again, do the same analysis on CTR.
df.groupby('Variant')[['CTR']].mean()

                CTR
Variant
Control    0.098554
Variant A  0.120269
Variant B  0.108933

In [ ]:
# This result also indicates that Variant A resulted in a larger CTR than the control and Variant B. Even the result indicated slightly better performance, however, it's consistent and 
# statistically significant. Thus, we should implement Variant A to drive a longer time spend and a Higher CTR in our users.

3.

 Based on our previous analysis results, we can give a recommendation to the engineering team that to deploy Variant A. The reason is, for both Time spent and CTR, the p-value of the difference between Variant A and the control are all smaller than the p-value of the difference between Variant B and the control,indicated that Variant A has a better performance. Furthermore, by comparing the control, Variant A, and Variant B on the effect on the mean value of Time Spent and CTR, we get a result that Variant A drive a slightly longer time and larger CTR than both control and Variant B, illustrated that Variant A is the most suitable for the engineering team to deploy.

4. The roll-out plan:

#1. The first phase of our roll-out plan is the Pilot phase, this phase will continue for about two weeks. In this phase, we will introduce the feature to a specific small group of the audience, after gathering the users' feedback and their user experience, we can decide whether should implement a wider rollout and include a larger cohort based on if there's any critical issue among the result if the issue existed, we will adjust the feature or back to the experiment.

#2. After we finish the first round, the next round of this plan will be the gradual rollout stage, which will continue for about six weeks. In this round, we will implement the feature within a larger audience cohort to check the impact's consistency. Same as stage one, we will check the consistency of the feature's impact, if there's no critical issue existed based on our audiences' feedback, we can move to our final stage, which will fully implement the feature to the entire audience group.

#3. Here we come to our final round, this will be the full rollout situation where we introduce the feature to all of the audiences. The final phase will take about two weeks. Again, our task is to ensure that the feature we introduced can increase users' Time Spent and CTR by using our app. We want the impact to be consistent with our previous phases, supported by users' positive feedback. If no critical issue existed and the impact indicated consistency, then we finish our roll-out plan!